html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #EBE9E9;
    font-family: 'Noto Sans JP', sans-serif;
}

#canvas {
    background-color: #000;
    width: 100%;
}

.container {
    padding: 1rem;
    background-color: #F3F8F2;
    text-align: center;
    margin: 3rem;
    /*rem 	Relative to font-size of the root element*/
}

@media only screen and (max-width: 730px) {
    h1 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px) {

    h1 {
        font-size: 10px;
    }
}
ol {
    margin: 0;
    padding: 0;
}

li {
    display:inline-block;
    margin-left: 10px; /* Adjust accordingly */
}

a {
    color: #3581B8;
    text-decoration: none;
}

button {
    margin:15px 0;
    cursor:pointer;
    padding:10px 35px;
    background: #3581B8;
    border: 2px solid #3581B8;
    border-radius: 15px;
    color:#ffffff;
}

footer {
    text-align: center;
}